.section6-text1{
    margin-top: 6%;
    max-width: 400px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: #2D2B5D;
}
.section6-text2{
    color: #2D2B5D;
    font-weight: 800;
    font-size: 20px;
}