body {
  color: white;
}

.sectionLayout {
  padding-top: 7%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 7%;
}

.footer-layout {
  padding-top: 2%;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2%;
}
